/* BOX SHADOW
- usage: @include box-shadow; or @include box-shadow(0, 2px, 2px, #333);
*/
@mixin box-shadow($x-axis: 0, $y-axis: 1px, $blur: 2px, $color: #333) {
  box-shadow: $x-axis $y-axis $blur $color;
}

.box-shadow {
  width: 100px;
  height: 100px;
  background: #333;
  margin: 50px;
  @include box-shadow(5px, 5px, 5px, #333)
}

/*****************************************/

h1 {
  /* Extra small devices (phones, less than 768px) */
  font-size: 14px;

  /* Small devices (tablets, 768px and up) */
  @media (min-width: 768px) {
    font-size: 18px;
  }

  /* Medium devices (desktops, 992px and up) */
  @media (min-width: 992px) {
    font-size: 24px;
  }

  /* Large devices (large desktops, 1200px and up) */
  @media (min-width: 1200px) {
    font-size: 36px;
  }
}

@mixin rounded($radius: 0.5em) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  border-radius: $radius;
}

.priority {

  .low {
    @include rounded();
    background-color: #494c15 !important;
    padding: 3px;
  }

  .medium {
    @include rounded();
    background-color: #1d754b;
    padding: 3px;
  }

  .high {
    @include rounded();
    background-color: #e9a627;
    padding: 3px;
  }

  .urgent {
    @include rounded();
    background-color: #ea6e2d;
    padding: 3px;
  }

  .critical {
    @include rounded();
    background-color: #f13c3c;
    padding: 3px;
  }
}

.ticket-list-item {
  margin-bottom: 3px;
  @include rounded();

  .status {
    .open {
      color: #c5c5c5;
    }
    .in-progress {
      color: #63e7e2;
    }
    .on-hold {
      color: #dabbf6;
    }
    .resolved {
      color: #00efb2;
    }
    .closed {
      color: #00ff00;
    }
  }

  .priority {
    margin-right: 1px;
    margin-bottom: 3px;

    .low {
      @include rounded();
      background-color: #494c15 !important;
    }

    .medium {
      @include rounded();
      background-color: #1d754b;
    }

    .high {
      @include rounded();
      background-color: #e9a627;
    }

    .urgent {
      @include rounded();
      background-color: #ea6e2d;
    }

    .critical {
      @include rounded();
      background-color: #f13c3c;
    }
  }

}

/*!
 * Start Bootstrap - Simple Sidebar (https://startbootstrap.com/template/simple-sidebar)
 * Copyright 2013-2020 Start Bootstrap
 * Licensed under MIT (https://github.com/StartBootstrap/startbootstrap-simple-sidebar/blob/master/LICENSE)
 */

#wrapper {
  overflow-x: hidden;
}

#sidebar-wrapper {
  min-height: 100vh;
  margin-left: -15rem;
  -webkit-transition: margin .25s ease-out;
  -moz-transition: margin .25s ease-out;
  -o-transition: margin .25s ease-out;
  transition: margin .25s ease-out;
}

#sidebar-wrapper .sidebar-heading {
  padding: 0.875rem 1.25rem;
  font-size: 1.2rem;
}

#sidebar-wrapper .list-group {
  width: 15rem;
}

#page-content-wrapper {
  min-width: 100vw;
}

#wrapper.toggled #sidebar-wrapper {
  margin-left: 0;
}

@media (min-width: 768px) {
  #sidebar-wrapper {
    margin-left: 0;
  }

  #page-content-wrapper {
    min-width: 0;
    width: 100%;
  }

  #wrapper.toggled #sidebar-wrapper {
    margin-left: -15rem;
  }
}