<?php
/**
 * Authentication database configuration
 * Edit this to your requirements
 */

$dbHost = getenv('DB_HOST') ?: 'localhost';
$dbName = getenv('DB_NAME') ?: 'YOUR_DBNAME';
$dbUser = getenv('DB_USER') ?: 'YOUR_USERNAME';
$dbPassword = getenv('DB_PASSWORD') ?: 'YOUR_PASSWORD';

return [
    'authentication' => [
        'pdo' => [
            'dsn'   => sprintf('mysql:host=%s; dbname=%s', $dbHost, $dbName),
            'table' => 'user',
            'field' => [
                'identity' => 'email',
                'password' => 'password',

            ],
            'sql_get_details' => 'SELECT id,status,mfa_enabled FROM user WHERE user.email = :identity',
            'username' => $dbUser,
            'password' => $dbPassword
        ],
    ],
];
