<?php
/**
 * Local configuration excluded from vcs due to sensitive info
 * Edit to your needs
 */
return [
    'encryption' => [
        'key' => 'YOUR_HEX_KEY',
    ],
    'mfa' => [
        'issuer' => 'YOUR_ISSUER',
    ],
    'app_url' => 'http://localhost:8080',
    // Credentials to allow doctrine to access database
    'doctrine' => [
        'connection' => [
            'orm_default' => [
                'params' => [
                    'url' => 'mysql://USERNAME:PASSWORD@localhost/DATABASE_NAME',
                ],
            ],
        ],
    ],
];
