<?php
/**
 * Local configuration excluded from vcs due to sensitive info
 * Edit to your needs
 */
$dbHost = getenv('DB_HOST') ?: 'localhost';
$dbName = getenv('DB_NAME') ?: 'DATABASE_NAME';
$dbUser = getenv('DB_USER') ?: 'USERNAME';
$dbPassword = getenv('DB_PASSWORD') ?: 'PASSWORD';

$doctrineUrl = sprintf(
    'pdo-mysql://%s:%s@%s/%s',
    rawurlencode($dbUser),
    rawurlencode($dbPassword),
    $dbHost,
    $dbName
);

return [
    'encryption' => [
        'key' => 'YOUR_HEX_KEY',
    ],
    'mfa' => [
        'issuer' => 'YOUR_ISSUER',
    ],
    'app_url' => 'http://localhost:8080',
    // Credentials to allow doctrine to access database
    'doctrine' => [
        'connection' => [
            'orm_default' => [
                'params' => [
                    'url' => $doctrineUrl,
                ],
            ],
        ],
    ],
];
