<?php

declare(strict_types=1);

return [
// SMTP transport options for sending mail out
    'mail' => [
        // is mail service enabled? (set to false to skip sending mail/cron imports)
        'enabled'      => true,
        // sender email address
        'sender'       => 'helpdesk@example.com',
        // smtp server options
        'smtp_options' => [
            'name'              => 'mail.example.com',
            'host'              => 'mail.example.com',
            'port'              => 587,
            'connection_class'  => 'plain',
            'connection_config' => [
                'username' => 'helpdesk@example.com',
                'password' => 's3cr3tP4ssw0rd',
                //'ssl'             => 'tls',
                //'verify_peer'     => false,
                //'verify_peer_name'=> false,
                //'allow_self_signed' => true,
            ],
        ],
    ],
];
